:root {
    --main-font: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    --bg-color: #F2F2F7;
    --ios-blue: #007AFF;
    --kaspi-red: #F14635;
    --text-main: #212121;
    --text-gray: #8E8E93;
}

* { 
    -webkit-tap-highlight-color: transparent; 
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    margin: 0;
    color: var(--text-main);
}

/* Стандарт для названий (как ты просил) */
.item-title {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.2px;
}

/* Стандарт для подписей */
.item-sub {
    font-size: 14px;
    color: var(--text-gray);
}